.big-btn {
  width: 350px;
  height: 176px;
  vertical-align: middle;
  margin-top: 20px;
  margin: 0 auto;
  background-color: #404040;
  border-radius: 27px;
  margin-top: 10px;
  cursor: pointer;
}

.big-btn:hover {
  background-color: #000;
}

.big-btn img {
  position: relative;
  max-width: 80%;
  max-height: 75%;
  margin-top: 6%;
  margin-left: 12%;
}

html { 
  background: url(/Images/avengers-wall.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.result-panel {
    background-color: #404040;
    position: absolute;
    float: left;
    width: 500px;
    height: 250px;
    margin-left: 50px;
    margin-top:  50px;
    padding: 0px 0px 0px 25px;
    color:  #F6FAFF;
    line-height: 130%%;
    border-radius: 25px;
}
